<header class="start_site_header">
      {% include nav_mobile.html %}

  <div class="site_title_box">

    <a class="site_title" href="{{ site.baseurl }}/">{{ site.title }} | <small>{{ site.subtitle }}</small></a>

  </div>
  <div class="logo_box">
    <div class="logo">
      <a href="#start_content">
        <?xml version="1.0" encoding="utf-8"?>
        <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
        <svg version="1.1" id="logoform" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve" width="300px" heigth="300px">
        <polygon  points="618.9,298.5 620.2,568.9 419.2,350.1 677.8,133.6 948.8,262.7 902.1,536.5 692.7,649.6 691.3,350.1 
          "/>
        <polygon  points="692.5,751.1 297.8,865.5 51.4,628.8 138.4,305 318.9,353.3 320.4,649.6 394.5,715.7 394.9,435.4 "/>
        </svg>


      </a>
    </div>
  </div>
  <div class="page_title_box">
  	<h1 class="page_title">Wir machen Internet</h1>
  </div>

  <div class="arrow_box">
  	<a data-scroll href="#start_content" class="arrow">
  		<?xml version="1.0" encoding="utf-8"?>
		<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
			 viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve" height="100px" width="100px">
		<g id="background">
			<circle cx="49.8" cy="50" r="41.5"/>
		</g>
		<g id="pfeile">
			<line  stroke-width="5" stroke-miterlimit="10" x1="24.3" y1="36.2" x2="49.9" y2="60.1"/>
			<line  stroke-width="5" stroke-miterlimit="10" x1="76" y1="36" x2="48.2" y2="62"/>
		</g>
		</svg>

  	</a>
  </div>



</header>