<div class="services_wrapper" id="services">
	<div class="description_wrap">
		<h1 class="site_headline">Wir basteln Internetauftritte</h1>
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12 col-md-4">
					<div class="thumbnail_img">
					<?xml version="1.0" encoding="utf-8"?>
					<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						 viewBox="0 0 300 300" enable-background="new 0 0 300 300" xml:space="preserve"height="100px" width="100px">
					<g id="Ebene_1">
					</g>
					<g id="Personen">
						<circle cx="79.3" cy="189.8" r="21.6"/>
						<g>
							<path d="M121,239c0,10.6-13.5,19-30,19H68c-16.5,0-30-8.4-30-19s13.5-19,30-19h23C107.5,220,121,228.4,121,239z"/>
						</g>
						<g>
							<path d="M261,238.5c0,10.7-13.5,19.5-30,19.5h-23c-16.5,0-30-8.8-30-19.5s13.5-19.5,30-19.5h23C247.5,219,261,227.8,261,238.5z"/>
						</g>
						<rect x="32" y="241" fill="#FFFFFF" width="93" height="22"/>
						<rect x="169" y="241" fill="#FFFFFF" width="99" height="19"/>
						<circle cx="79.3" cy="189.8" r="21.6"/>
						<circle cx="219.3" cy="190.8" r="21.6"/>
					</g>
					<g id="Prechblase_1">
						<ellipse fill="#FFFFFF" stroke="#000000" stroke-width="6" stroke-miterlimit="10" cx="106.1" cy="118.9" rx="55.1" ry="32.9"/>
						<path fill="none" stroke="#000000" stroke-width="6" stroke-miterlimit="10" d="M141.3,144.5c0,16.7-14.2,30.3-31.8,30.3"/>
						<path fill="none" stroke="#000000" stroke-width="6" stroke-miterlimit="10" d="M125.5,148.8c0,14.4-7.2,26-16.1,26"/>
						<line fill="#FFFFFF" stroke="#FFFFFF" stroke-width="6" stroke-miterlimit="10" x1="131.5" y1="142.1" x2="131.3" y2="156.1"/>
						<line fill="none" stroke="#FFFFFF" stroke-width="6" stroke-miterlimit="10" x1="137.4" y1="138" x2="134.3" y2="150.8"/>
						<line fill="none" stroke="#FFFFFF" stroke-width="6" stroke-miterlimit="10" x1="130" y1="142.7" x2="133.5" y2="147.8"/>
					</g>
					<g id="Sprechblase_2">
						<ellipse fill="#FFFFFF" stroke="#000000" stroke-width="6" stroke-miterlimit="10" cx="193.2" cy="103.5" rx="61.5" ry="37.8"/>
						<path fill="none" stroke="#000000" stroke-width="6" stroke-miterlimit="10" d="M169.3,139c0,16.9,13.5,30.6,30.2,30.6"/>
						<path fill="none" stroke="#000000" stroke-width="6" stroke-miterlimit="10" d="M186.7,143.7c0,14.3,5.7,25.9,12.8,25.9"/>
						<line fill="none" stroke="#FFFFFF" stroke-width="6" stroke-miterlimit="10" x1="180.4" y1="146.3" x2="181.7" y2="132.2"/>
						<line fill="none" stroke="#FFFFFF" stroke-width="6" stroke-miterlimit="10" x1="174.8" y1="131.4" x2="175.6" y2="142.6"/>
						<line fill="none" stroke="#FFFFFF" stroke-width="6" stroke-miterlimit="10" x1="175.6" y1="134.2" x2="178.2" y2="144.9"/>
					</g>
					</svg>

						

					</div>
					<h3 class="subheadline">Beratung</h3>
					<p class="description">
						ypewriter lomo scenester blog farm-to-table, ugh roof party retro irony raw denim ethical cronut listicle brunch Pinterest. Small batch fixie lomo Helvetica letterpress. ypewriter lomo scenester blog farm-to-table, ugh roof party retro irony raw denim ethical cronut listicle brunch Pinterest. Small batch fixie lomo Helvetica letterpress. 				
					</p>

				</div>
				<div class="col-xs-12 col-md-4">
					<div class="thumbnail_img">
						<?xml version="1.0" encoding="utf-8"?>
						<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							 viewBox="0 0 300 300" enable-background="new 0 0 300 300" xml:space="preserve" height="100px" width="100px">
						<g id="Fenster">
							<rect x="29" y="72" fill="#FFFFFF" stroke="#000000" stroke-width="10" stroke-miterlimit="10" width="232" height="147"/>
							<g>
								<line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="55" y1="82" x2="55" y2="207"/>
							</g>
							<g>
								<line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="90" y1="82" x2="90" y2="207"/>
							</g>
							<g>
								<line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="126" y1="82" x2="126" y2="207"/>
							</g>
							<g>
								<line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="162" y1="82" x2="162" y2="207"/>
							</g>
							<g>
								<line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="198" y1="82" x2="198" y2="207"/>
							</g>
							<g>
								<line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="234" y1="82" x2="234" y2="207"/>
							</g>
							<g>
								<line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="48" y1="90" x2="241" y2="90"/>
							</g>
							<g>
								<line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="48" y1="126" x2="241" y2="126"/>
							</g>
							<g>
								<line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="48" y1="162" x2="241" y2="162"/>
							</g>
							<g>
								<line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="48" y1="198" x2="241" y2="198"/>
							</g>
						</g>
						<g id="Dreuceck">
							<polygon fill="none" stroke="#000000" stroke-width="12" stroke-miterlimit="10" points="283.4,149.7 243.3,203.2 203.1,256.7 
								187.2,202.9 171.2,149.1 227.3,149.4 	"/>
						</g>
						<g id="stift">
							<g>
								<path fill="#FFFFFF" d="M134.7,26.4c1.3-1.1,3.2-0.9,4.2,0.4l14.4,17.1c1.1,1.3,0.9,3.2-0.4,4.2L25.4,155.3
									c-1.3,1.1-3.2,0.9-4.2-0.4L6.7,137.8c-1.1-1.3-0.9-3.2,0.4-4.2L134.7,26.4z"/>
								<path fill="none" stroke="#000000" stroke-width="6" stroke-miterlimit="10" d="M134.7,26.4c1.3-1.1,3.2-0.9,4.2,0.4l14.4,17.1
									c1.1,1.3,0.9,3.2-0.4,4.2L25.4,155.3c-1.3,1.1-3.2,0.9-4.2-0.4L6.7,137.8c-1.1-1.3-0.9-3.2,0.4-4.2L134.7,26.4z"/>
							</g>
							<line fill="none" stroke="#000000" stroke-width="6" stroke-miterlimit="10" x1="32.8" y1="148.6" x2="15.6" y2="128.1"/>
							<line fill="none" stroke="#000000" stroke-width="6" stroke-miterlimit="10" x1="154" y1="46.7" x2="168.6" y2="17.1"/>
							<line fill="none" stroke="#000000" stroke-width="6" stroke-miterlimit="10" x1="136.6" y1="25.4" x2="168.7" y2="17.1"/>
							<line fill="none" stroke="#000000" stroke-miterlimit="10" x1="170.6" y1="18.8" x2="172.8" y2="13.8"/>
							<line fill="none" stroke="#000000" stroke-miterlimit="10" x1="172.3" y1="13.6" x2="167.3" y2="14.9"/>
							<g>
								<g>
									<path d="M172.6,14.5c1,0,1-1.5,0-1.5S171.6,14.5,172.6,14.5L172.6,14.5z"/>
								</g>
							</g>
						</g>
						</svg>
						

					</div>
					<h3 class="subheadline">Webdesign</h3>
					<p class="description">
						ypewriter lomo scenester blog farm-to-table, ugh roof party retro irony raw denim ethical cronut listicle brunch Pinterest. Small batch fixie lomo Helvetica letterpress. ypewriter lomo scenester blog farm-to-table, ugh roof party retro irony raw denim ethical cronut listicle brunch Pinterest. Small batch fixie lomo Helvetica letterpress. 
					</p>

				</div>
				<div class="col-xs-12 col-md-4">
					<div class="thumbnail_img">
						
						<?xml version="1.0" encoding="utf-8"?>
						<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							 viewBox="0 0 300 300" enable-background="new 0 0 300 300" xml:space="preserve"height="100px" width="100px">
						<g id="klammern">
							<text transform="matrix(0.3358 0 0 1 6.6626 205.3769)" font-family="'MyriadPro-Regular'" font-size="248.2221">&lt;           &gt;</text>
						</g>
						<g id="planze">
							<path fill="#FFFFFF" d="M141.7,192.9c1.1-44.7,9-80.7,17.5-80.4"/>
							
								<ellipse transform="matrix(0.989 -0.1479 0.1479 0.989 -21.169 26.1423)" fill="#FFFFFF" stroke="#FFFF00" stroke-miterlimit="10" cx="165.2" cy="155.4" rx="15.9" ry="5"/>
							<ellipse fill="#FFFFFF" stroke="#000000" stroke-width="4" stroke-miterlimit="10" cx="153.5" cy="186.2" rx="85.6" ry="7.4"/>
							
								<ellipse transform="matrix(0.8045 0.5939 -0.5939 0.8045 85.576 -46.6994)" fill="#FFFFFF" stroke="#FFFFFF" stroke-miterlimit="10" cx="113.7" cy="106.7" rx="38" ry="14.7"/>
							<rect x="140" y="175" fill="#FFFFFF" width="7" height="10"/>
							<path fill="none" stroke="#000000" stroke-width="4" stroke-miterlimit="10" d="M139.1,188.1c0-49.5,18.2-89.5,40.7-89.5"/>
							<path fill="none" stroke="#000000" stroke-width="4" stroke-miterlimit="10" d="M147.6,188.1c0-49.4,14.3-89.4,32-89.4"/>
							<path fill="none" stroke="#000000" stroke-width="4" stroke-miterlimit="10" d="M81.7,78.2c0,30,28.4,54.3,63.5,54.3"/>
							<path fill="none" stroke="#000000" stroke-width="4" stroke-miterlimit="10" d="M145.7,133c-0.5-29.8-29.6-53.4-65.1-52.8"/>
							<line fill="none" stroke="#000000" stroke-width="4" stroke-miterlimit="10" x1="139" y1="186" x2="147" y2="186"/>
							<g>
								<g>
									<path d="M146.2,134c1.9,0,1.9-3,0-3S144.3,134,146.2,134L146.2,134z"/>
								</g>
							</g>
							<g>
								<g>
									<path d="M146.1,134.7c1.9,0,1.9-3,0-3C144.1,131.7,144.1,134.7,146.1,134.7L146.1,134.7z"/>
								</g>
							</g>
							<path fill="none" stroke="#000000" stroke-width="4" stroke-miterlimit="10" d="M181.8,149.5c-3.7,10.8-18.5,15.6-33.2,10.7"/>
							<path fill="none" stroke="#000000" stroke-width="4" stroke-miterlimit="10" d="M149.5,159.1c3.6-9.5,18.2-12.8,32.6-7.3"/>
						</g>
						</svg>
					</div>
					<h3 class="subheadline">Entwicklung</h3>
					<p class="description">
						ypewriter lomo scenester blog farm-to-table, ugh roof party retro irony raw denim ethical cronut listicle brunch Pinterest. Small batch fixie lomo Helvetica letterpress. ypewriter lomo scenester blog farm-to-table, ugh roof party retro irony raw denim ethical cronut listicle brunch Pinterest. Small batch fixie lomo Helvetica letterpress. 
					</p>
				</div>
			</div>
			<hr class="style-two">
			<div class="row second_row">
				<div class="col-xs-12 col-md-6">
					<img src="/images/beer_screen.png" alt="" >
					<a  class="button_link" href="/projekte/"><button class="button_light">Portfolio</button></a>

				</div>
				<div class="col-xs-12 col-md-6">
					<img src="https://cdn3.iconfinder.com/data/icons/social-and-media/37/Social_and_communication-09-512.png" alt="" >
					<a class="button_link" href="/team/"><button class="button_light">Team</button></a>
				</div>
			
			</div>
		</div>
	</div>
</div>