<div class="services_wrapper" id="services">
	<div class="description_wrap">
		<h1 class="site_headline">Wir basteln Internetauftritte</h1>
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12 col-md-4">
					<div class="thumbnail_img"><img src="http://www.bureauforgood.com/images/ui/services-icon-design.png" alt="" class="icon"></div>
					<h3 class="subheadline">Beratung</h3>
					<p class="description">
						ypewriter lomo scenester blog farm-to-table, ugh roof party retro irony raw denim ethical cronut listicle brunch Pinterest. Small batch fixie lomo Helvetica letterpress. ypewriter lomo scenester blog farm-to-table, ugh roof party retro irony raw denim ethical cronut listicle brunch Pinterest. Small batch fixie lomo Helvetica letterpress. 				
					</p>

				</div>
				<div class="col-xs-12 col-md-4">
					<div class="thumbnail_img"><img src="http://www.bureauforgood.com/images/ui/services-icon-design.png" alt="" class="icon"></div>
					<h3 class="subheadline">Webdesign</h3>
					<p class="description">
						ypewriter lomo scenester blog farm-to-table, ugh roof party retro irony raw denim ethical cronut listicle brunch Pinterest. Small batch fixie lomo Helvetica letterpress. ypewriter lomo scenester blog farm-to-table, ugh roof party retro irony raw denim ethical cronut listicle brunch Pinterest. Small batch fixie lomo Helvetica letterpress. 
					</p>

				</div>
				<div class="col-xs-12 col-md-4">
					<div class="thumbnail_img"><img src="http://www.bureauforgood.com/images/ui/services-icon-design.png" alt="" class="icon"></div>
					<h3 class="subheadline">Entwicklung</h3>
					<p class="description">
						ypewriter lomo scenester blog farm-to-table, ugh roof party retro irony raw denim ethical cronut listicle brunch Pinterest. Small batch fixie lomo Helvetica letterpress. ypewriter lomo scenester blog farm-to-table, ugh roof party retro irony raw denim ethical cronut listicle brunch Pinterest. Small batch fixie lomo Helvetica letterpress. 
					</p>
				</div>
			</div>
			<hr class="style-two">
			
			<div class="row second_row">
				<div class="col-xs-12 col-md-6">
					<img src="/images/pc.png" alt="" >
					<button class="button_light"><a href="#">Portfolio</a></button>

				</div>
				<div class="col-xs-12 col-md-6">
					<img src="https://cdn3.iconfinder.com/data/icons/social-and-media/37/Social_and_communication-09-512.png" alt="" >
					<button class="button_light"><a href="#">Team</a></button>
				</div>
			
			</div>
		</div>
	</div>
</div>