.default_page_wrapper {
    padding-top: 100px;
}




/**
 * Site header
 */
.site-header {
    min-height: 56px;
       
    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    color: $text-color-light;
    font-size: 40px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: 10px;
    float: left;


    &,
    &:visited {
        color: $text-color-light;
    }

    &:hover {
        text-decoration: none;
    }

    @include media-query($on-palm) {
        color: #fff;
        text-align: right;
    }
}

