.banner_wrapper_default {
	height: 240px;
	background-color: $grey-color-dark;
	background-image: url(/images/dark_embroidery.png);
	background-position: center;
	margin-top: -167px;
	background-repeat: repeat;

	
	


	
}