.click-nav {
	/*Desktop view */
	float: right;
	padding-top: 20px;
	
	
	ul {
		li {
			list-style: none;
			cursor: pointer;
			

			.clicker {
				display: none;

				@include media-query($on-palm) {
					position: absolute;
					top: 10px;
					right: 20px;
					display: block;
		            width: 36px;
		            height: 36px;
		            line-height: 0;
		            padding: 10px;
		            text-align: center;
		            border: 2px solid $text-color-light;

		            > svg {
		                width: 15px;
		                height: 15px;

		                path {
		                    fill: $grey-color-light;
		                }
		            }
				}
			}

			.inactive {
				background-color: transparent;
			}

			.menu_list {
				position: relative;
				margin-right: 20px;
				.menu_item {
					list-style: none;
					display: inline-block;
					font-size: $m-font-size;
        			// Gaps between nav items, but not on the first one
        			&:not(:first-child) {
            			margin-left: 20px;
        			}

        			a {
        				color: $text-color-light;
        				
        				font-weight: 300;
        			}

				}

				@include media-query ($on-palm) {
					margin: 0px;
					display: list-item;
					list-style: none;

					.menu_item {
						margin: 0px;
						display: list-item;
						clear: both;
						padding: 5px;

						&:first-child {
							padding-top: 30px;
						}
	        			&:not(:first-child) {
	        				margin: 0;
	        			}

						a {
							text-align: center;
							
						}
					}
				}
			}
		}
	}
	@include media-query ($on-palm){
		width: 100%;
		background-color: $grey-color-dark;
		color: $text-color;
		clear: both;
		margin-top: -30px;
	}
	
}

