/**
 * Posts
 */

.post {
    background-image: url(/images/concrete_seamless.png);

}
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    max-width: 1000px;
    margin: 0px auto;
    padding: 50px 30px;

    p {
        font-size: $base-font-size;
        text-align: justify;
        

        a{
            color: #337AB7;
            font-weight: bold;

            &:hover {
                color: $brand-color;
                text-decoration: underline;

            }
        }
    }
    

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}