.project_wrapper {
	
	padding: 30px 0 60px 0;
	background: url(/images/concrete_seamless.png);


	.project_row {
		margin: 30px;
	}

	.project_hr {
		margin: 100px 0;
	}

	.sidebar_left {


		color: $text-color-dark;
		padding: 30px 25px;


		h3 {

			text-transform: uppercase;
			font-weight: 700;
			margin-top: 0;
			margin-bottom: 20px;
		}

		span {
			font-size: $base-font-size;
			font-style: italic;

			strong {
				font-style: normal;
			}
		}

		.button_project {

			border: 2px solid $text-color-dark;
			padding: 10px;
			font-size: 20px;
			text-transform: uppercase;
			color: $text-color-dark;
			text-decoration: none;
			background-color: transparent;

			a {
				color: $text-color-dark;
			}

			&:hover {
				text-decoration: none;
				background-color: $text-color-dark;
				
				a {
					color: $text-color-light;
				}
			}
		}
	}

	.middle_content {
		margin-top: 0px;
		padding: 30px 20px 0 0;

		p{
			font-size: $base-font-size;
			color: $text-color-dark;
			/*border: 2px solid $text-color-dark;
			padding: 20px;*/
			
		}
	}

	.right_content {
		margin: 0px 0;
		padding-top: 30px;
		text-align: center;

		.pc_frame {
			position: relative;
			

			img {
				max-height: 450px;
			}

		}

		
	}
}