.team_wrapper {
	padding: 30px 10px;
	background: url(/images/concrete_seamless.png);

	
	.team_row {

		&:last-child{
			margin-bottom: 100px;
		}

		padding: 0px;
		.member_wrapper {

			margin-top: 50px;
			
			.member_pic {
				text-align: center;

				img {
					margin: 20px 20px 50px;
					max-height: 300px;
					border-radius: 50%;
					border: 5px solid $text-color-light;
					
				}
			}

			.member_data {
					margin: 30px 20px;
				h5 {

					text-transform: uppercase;
					color: $text-color-dark;
					font-weight: 700px;
					font-size: $m-font-size;
				}
				p {
					font-size: $base-font-size;
					text-align: left;
					color: $text-color-dark;

					a:hover {
						text-decoration: none;
						color: $brand-color;
					}

				}
			}

			.member_skills {

				.skill_title {
					margin: 5px 0px;
					text-align: right;
					span {
						text-transform: uppercase;
						font-size: $base-font-size;
						color: $text-color-dark;
					}
					@include media-query(990px){
						text-align: center;
					}
				}

				.progress {
					margin: 10px;
					margin-left: 0px;
					max-width: 70%;

					@include media-query(990px){
						margin: 10px auto;
					}

					.progress-bar-success {
						background-color: rgba($brand-color, 0.7);
					}
					


				}

				@include media-query(990px){
						padding-bottom: 50px;
						border-bottom: 2px solid $grey-color;
					}
			}
		}

	}
}