/**
 * Site header
 */
.site-header {
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    color: $text-color-light;
    font-size: 40px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: 10px;
    float: left;


    &,
    &:visited {
        color: $text-color-light;
    }

    &:hover {
        text-decoration: none;
    }

    @include media-query($on-palm) {
        color: #fff;
        text-align: right;
    }
}

/* not needed in markup here but usefull*/
.vertical_line {
    border-left: 3px solid rgba(255, 255, 255, 0.2);
    height: 34px;
    left: 385px;
    position: absolute;
    top: 66px;
}

.site-sub-title {
    color: $text-color-light;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    float: left;
    text-transform: uppercase;
    position: absolute;
    left: 45px;
    top: 60px;

    border-top: 3px solid rgba(255,255,255,0.3);
    padding-top: 10px;


    &,
    &:visited {
        color: $text-color-light;
    }

    @include media-query($on-palm) {
        display: none;
    }
    
}



/* BACKGROUND */

.welcome_wrapper {
    background-color: #00FFCC; /*fallback*/
    background-image: url(/images/zokni.jpg);
    height: 728px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -60px;

    @include media-query($on-palm) {
        height: 300px;
    }
}

.welcome_hero {
    float: left;
    clear: both;
    margin: 370px 0 0 30px;

    .welcome_slogan {
    
        font-size: 70px;
        font-weight: 700;
        line-height: 1.0;
        color: $text-color-light;
        text-transform: uppercase;

            span {
                color: $brand-color;
            }
    }

    .button_white {
        background: transparent;
        border-radius: 0px;
        border: 3px solid white;
        color: $text-color-light;
        font-size: 30px;
        font-family: $base-font-family;
        text-transform: uppercase;
        margin-top: 20px;
        cursor: pointer;

        &:hover {
            background-color: #FFF;
            color: $grey-color-dark;
        }
    }

    @include media-query($on-palm) {
        display: none;
    }
}







